.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --bg-color: #fff;
  --bg-text: #000;
}

[data-theme="dark"] {
  --bg-color: #000;
  --bg-text: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--bg-text);
}

.switch {
  display: inline-block;
  width: 50px;
  height: 20px;
  /* background-color: aqua; */
  position: relative;
}
.switch > input {
  /* display: none; */
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: aqua;
  border-radius: 20px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 1px;
  /* bottom: 4px; */
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  left: 30px;
  transition: 0.3s ease-in;
}
